@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/br-firma');
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.cdnfonts.com/css/metropolis-2');
@import url('./calendar.css');
@import url('./scrollbar.css');

.carousel .slider-wrapper {
    width: 90% !important;
}
.scrollToTop {
    background-color: #a03cae !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel.carousel-slider{
    overflow: unset !important;
}